<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>
        <Console name="MainConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS}|%-5level|%msg%n"/>
        </Console>
        <File name="DebugLogger" fileName="${filename}">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS}|%t|%-5level|%logger: %msg%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="MainConsole" level="INFO"/>
            <AppenderRef ref="DebugLogger" level="DEBUG"/>
        </Root>
    </Loggers>
</Configuration>